
<ul class="nav">
    <li class="nav-item">
      <a class="nav-link active" href="javascript:void(0)" aria-current="page" href="#" [routerLink]="['/admin/hos']"  >โรงพยาบาล</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="javascript:void(0)" [routerLink]="['/admin/person']">บุคคลาร</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="javascript:void(0)" [routerLink]="['/admin/pincode']">กำหนดรหัสผ่านใหม่</a>
    </li>
    <li class="nav-item">
      <a class="nav-link disabled" href="javascript:void(0)" tabindex="-1" aria-disabled="true">Disabled</a>
    </li>
  </ul>
  <router-outlet></router-outlet>

