<div class="container">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid ">

            <div class="navbar-header">
                <a class="navbar-brand" href="#">ข้อมูลผู้ป่วย Admit</a>
            </div>
            <div class="nav navbar-right">
                <button type="button" (click)="doAdd(template,pt)" class="btn btn-primary">+</button>
            </div>
        </div>
    </nav>
    <p-table  id="Table" [value]="pts"  [paginator]="true" [rows]="10" [showCurrentPageReport]="true" >
        <ng-template pTemplate="header">
            <tr>
                <th>รายการที่</th>
                <th>HN</th>
                <th>ชื่อ</th>
                <th>วันผลLab</th>
                <th>วันAdmit</th>
                <th>วันDischarge</th>
                <th>จำนวนวัน</th>
                <th>สถานะวันนี้</th>
                <th>แก้ไข</th>
                <th>ลบ</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-p let-i="rowIndex">
            <tr>
                <td scope="row">{{i+1}}.</td>
                <td>{{p?.hn}}</td>
                <td>{{p?.ptname}}</td>
                <td>{{getThaidate(p?.labdate)}}</td>
                <td>{{getThaidate(p?.admitdate)}}</td>
                <td>{{getThaidate(p?.dischargedate)}}</td>
                <td class="text-center">{{getdaydiff(p?.admitdate,p?.dischargedate)}}</td>
                <td>{{getTodayStatus(p?.dischargedate)}}</td>
                <td><button type="button" class="btn  btn-info" (click)="doEdit(template,p)">
                    <i class="fa-solid fa-pen-to-square"></i></button></td>
                <td><button   (click)="doDelete(p,i)" type="button" class="btn  btn-danger">
                    <i class="fa-solid fa-pen-to-square"></i></button></td>
            </tr>
        </ng-template>
    </p-table>
    <p-confirmDialog
  header="ลบข้อมูล"
  [style]="{ width: '400px',height:'205px' }"
></p-confirmDialog>
    
   
</div>



<ng-template #template>
    <div class="modal-header">
        <h4 class="modal-title pull-left">หน้าต่างบันทึกข้อมูล</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
         <span aria-hidden="true">×</span>
      </button>
    </div>
    <div class="modal-body">
        <form>
            <div class="form-group row">
                <label for="inputName" class="col-sm-1-12 col-form-label">HN</label>
                <div class="col-sm-1-12">
                    <input type="text" class="form-control" name="hn" id="hn" placeholder="" [(ngModel)]="pt.hn">
                </div>
            </div>
            <div class="form-group row">
                <label for="inputName" class="col-sm-1-12 col-form-label">ชื่อ สกุล</label>
                <div class="col-sm-1-12">
                    <input type="text" class="form-control" name="ptname" id="ptname" placeholder="" [(ngModel)]="pt.ptname">
                </div>
            </div>
            <div class="form-group row">
                <label for="admit" class="form-label">วันที่ทราบผลLab</label>
                <div class="input-group mb-3"> <input type="text" class="form-control" placeholder="วันที่ทราบผลLab" class="form-control" #dp="bsDatepicker" name="bsDatepicker" [bsConfig]="{isAnimated: true,dateInputFormat: 'DD-MM-YYYY'}"
                     [(ngModel)]="lab"
                     (bsValueChange)="doChangeDate($event)"
                     bsDatepicker>
                    <span class="input-group-text fa fa-calendar" id="basic-addon2"    (click)="dp.toggle();" [attr.aria-expanded]="dp.isOpen"></span>
                </div> 
            </div>  
            <div class="form-group row">
                <label for="admit" class="form-label">วันAdmit</label>
                <div class="input-group mb-3"> <input type="text" class="form-control" placeholder="วันAdmit" class="form-control" #dp3="bsDatepicker" name="bsDatepicker" [bsConfig]="{isAnimated: true,dateInputFormat: 'DD-MM-YYYY'}" [(ngModel)]="lab" bsDatepicker>
                    <span class="input-group-text fa fa-calendar" id="basic-addon3" (click)="dp3.toggle()"  [attr.aria-expanded]="dp3.isOpen"></span>
                </div>
            </div>
            <div class="form-group row">
                <label for="admit" class="form-label">วันDischarge (14 วันหลังทราบผลLab)</label>
                <div class="input-group mb-3"> <input type="text" class="form-control" placeholder="14 วันหลังผลLab" class="form-control" #dp2="bsDatepicker" name="bsDatepicker2" [bsConfig]="{isAnimated: true,dateInputFormat: 'DD-MM-YYYY'}" [(ngModel)]="discharge" bsDatepicker>
                    <span class="input-group-text fa fa-calendar" id="basic-addon2" (click)="dp2.toggle()" [attr.aria-expanded]="dp2.isOpen"></span>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-sm-1-12">
                    <div class="d-flex flex-row-reverse bd-highlight"><button type="button" (click)="doSave()" class="btn btn-primary  float-right">บันทึก</button></div>
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" (click)="modalRef.hide()">Close</button>
    </div>
</ng-template>




